node-red/.flows.json.backup
[{"id":"82728765be45f062","type":"tab","label":"Botão Ar Condicionado","disabled":false,"info":""},{"id":"dcc7637cee4aa0cf","type":"tab","label":"Sensor porta/janela","disabled":false,"info":""},{"id":"316e89be1993dff1","type":"tab","label":"Botão Ventilador","disabled":false,"info":""},{"id":"4b44306d.50c6f","type":"server","name":"Home Assistant","addon":true},{"id":"15f08614c0bbc81a","type":"server-state-changed","z":"82728765be45f062","name":"","server":"4b44306d.50c6f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ar_condicionado","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":240,"y":160,"wires":[["af5f54d6c4011f2d"],[]]},{"id":"9c6c644985dc0633","type":"server-state-changed","z":"82728765be45f062","name":"","server":"4b44306d.50c6f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ar_condicionado","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":240,"y":280,"wires":[["86bba9a6e108a62a"],[]]},{"id":"af5f54d6c4011f2d","type":"api-call-service","z":"82728765be45f062","name":"","server":"4b44306d.50c6f","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.ar_condicionado_ligar","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":160,"wires":[[]]},{"id":"86bba9a6e108a62a","type":"api-call-service","z":"82728765be45f062","name":"","server":"4b44306d.50c6f","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.ar_condicionado_desligar","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":280,"wires":[[]]},{"id":"30ae8b4da1c6493a","type":"server-state-changed","z":"dcc7637cee4aa0cf","name":"Abrir","server":"4b44306d.50c6f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sensor_porta_janela_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":300,"wires":[["a23ec8b45dc9f4e0"],["f47b256224f2781a"]]},{"id":"a23ec8b45dc9f4e0","type":"api-call-service","z":"dcc7637cee4aa0cf","name":"Ligar luz","server":"4b44306d.50c6f","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.ligar_ventilador","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":300,"wires":[[]]},{"id":"f47b256224f2781a","type":"api-call-service","z":"dcc7637cee4aa0cf","name":"Desliga luz","server":"4b44306d.50c6f","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.desligar_ventilador","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":380,"wires":[[]]},{"id":"69080ed1bed3136a","type":"server-state-changed","z":"316e89be1993dff1","name":"","server":"4b44306d.50c6f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ligar_ventilador","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":230,"y":220,"wires":[["f71ae27f8e837985"],["89f07cde2b2c7936"]]},{"id":"04bdcca1aa3c1305","type":"server-state-changed","z":"316e89be1993dff1","name":"","server":"4b44306d.50c6f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ventilador_velocidade_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":260,"y":440,"wires":[["60cc8ce6712c742c"],["e4705128f578974d"]]},{"id":"f71ae27f8e837985","type":"api-call-service","z":"316e89be1993dff1","name":"","server":"4b44306d.50c6f","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.ligar_ventilador","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":220,"wires":[[]]},{"id":"89f07cde2b2c7936","type":"api-call-service","z":"316e89be1993dff1","name":"","server":"4b44306d.50c6f","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.desligar_ventilador","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":280,"wires":[[]]},{"id":"60cc8ce6712c742c","type":"api-call-service","z":"316e89be1993dff1","name":"","server":"4b44306d.50c6f","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.ventilador_velocidade_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":440,"wires":[[]]},{"id":"e4705128f578974d","type":"api-call-service","z":"316e89be1993dff1","name":"","server":"4b44306d.50c6f","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.desligar_ventilador","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":520,"wires":[[]]},{"id":"bc3d4e47cc61174f","type":"server-state-changed","z":"316e89be1993dff1","name":"","server":"4b44306d.50c6f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ventilador_velocidade_3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":260,"y":680,"wires":[["1338e1db5cc65abc"],["386ea5c17c5cfa15"]]},{"id":"1338e1db5cc65abc","type":"api-call-service","z":"316e89be1993dff1","name":"","server":"4b44306d.50c6f","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.ventilador_velocidade_3","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":680,"wires":[[]]},{"id":"386ea5c17c5cfa15","type":"api-call-service","z":"316e89be1993dff1","name":"","server":"4b44306d.50c6f","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.desligar_ventilador","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":895,"y":746,"wires":[[]]}]